@font-face {
    font-family: IranYekan;
    src: url("../fonts/iranyekan.ttf");
    src: url("../fonts/iranyekan.eot");
    src: url("../fonts/iranyekan.woff");

    font-weight: 500;
    font-style: normal;
}
body {
    font-family: IranYekan !important;
}
.sweet-alert {
    font-family: IranYekan !important;
}
.empty-state-container {
    text-align: center;
    margin-top: 50px;
}

.empty-state-img {
    margin: 0 auto;
    float: none;
    text-align: center;
    width: 130px;
}

.empty-state-container h3 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
}

.empty-state-container p {
    color: #666;
    font-weight: 500;
}
.main-header{
    display: none;
}


@media (max-width: 992px) {
    .main-header{
        display: block;
    }
}

@media (max-width: 600px) {
    h6{
        font-size: 0.80rem !important;
    }
    .btn{
        font-size: 0.80rem;
        margin-top: 5%;
    }
}
@media (max-width: 944px)and (min-width: 601px){
    h6{
        font-size: 0.90rem !important;
    }
    .btn{
        font-size: 0.90rem;
        margin-top: 5%;
    }

}

@media (max-width: 507px)and (min-width: 300px){
    table{
        font-size: 0.90rem;
    }
}



